<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://magsmovies.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>magsmovies.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MagsMovies</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MagsMovies</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MagsAzureApp.Models.AzureMoviesDBContext" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:tvvabkonhd.database.windows.net,1433;Initial Catalog=AzureMovies;User ID=magsdb@tvvabkonhd;Password=Yavanna3MM" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MagsAzureApp.Models.AzureMoviesDBContext, MagsAzureApp" MigrationConfiguration="MagsAzureApp.Migrations.Configuration, MagsAzureApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="True">
          <Destination Path="Data Source=tcp:tvvabkonhd.database.windows.net,1433;Initial Catalog=NewUsers;User ID=magsdb@tvvabkonhd;Password=Yavanna3MM" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MagsAzureApp.Models.ApplicationDbContext, MagsAzureApp" MigrationConfiguration="MagsAzureApp.ApplicationDBContext.Configuration, MagsAzureApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MagsAzureApp.Entities, MagsAzureApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tvvabkonhd.database.windows.net,1433;Initial Catalog=NewUsers;User ID=magsdb@tvvabkonhd;Password=Yavanna3MM</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MagsAzureApp.Models.AzureMoviesDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tvvabkonhd.database.windows.net,1433;Initial Catalog=AzureMovies;User ID=magsdb@tvvabkonhd;Password=Yavanna3MM</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MagsAzureApp.Models.AzureMoviesDBContext" />
  </ItemGroup>
</Project>