@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Magdas Movie App</h3>

<p>This is a webapplication created using C#, ASP.NET, MVC, Code First Entity Framework and it is published on azure. 
    The purpose of this application is to give movie tips. So far a registred user can give the administrator movie tips
    and the administrator can rate, edit or delete the movies. For the future it would be nice if users could give other 
    users movie tips and each users having a own list of favuorite movies. </p>
